#                               # Assignment 1

#  Question 1 :Try 5 Different functions of the String in Python.

In [1]:
name = "Pratik mahakalkar"

In [2]:
name.index("a")

2

In [3]:
name.index("m")

7

In [4]:
name

'Pratik mahakalkar'

#  1 capitalize:Converts the first character to upper case

In [11]:
name =("pratik mahakalkar")
x = name.capitalize()
print (x)

Pratik mahakalkar

# 2 casefold :Converts string into lower case

In [12]:
name = ("PRATIK MAHAKALKAR")
X =name.casefold()
print(x)

Pratik mahakalkar

# 3 index	Searches the string for a specified value and returns the position of where it was found

In [19]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

#  4 count

In [20]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

#  5 split

In [21]:
name =("pratik mahakalkar")
x = name.split()
print (x)

['pratik', 'mahakalkar']

# Question 2 :Try 5 Different functions of the List object in Python

# 1:append

In [26]:
place = ['pune', 'mumbai', 'nashik']
place.append("gao")
print(place)

['pune', 'mumbai', 'nashik', 'gao']

# 2:clear

In [28]:
place = ['pune', 'mumbai', 'nashik']
place.clear()
print(place)

[]

# 3: copy

In [30]:
place = ['pune', 'mumbai', 'nashik']
place.copy()
print(place)

['pune', 'mumbai', 'nashik']

# 4: Extende

In [31]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

# 5:insert

In [32]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(3, "orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

# Question 3 :Experiment with at least 5 default functions of Dictionary

# 1 copy :Returns a copy of the dictionary

In [34]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

x = car.copy()

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# 2: setdefault

In [35]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

# 3: keys

In [36]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

# 4:popitem

In [37]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

# 5:value

In [38]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])